<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczXcx.dao.DingDanMapper">
	<update id="createTabByQyh">
		CREATE TABLE `ding_dan_${qyh}`  (
		  `id` int NOT NULL AUTO_INCREMENT,
		  `qyjlId` int NULL DEFAULT NULL,
		  `ddh` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `yfwDdztId` int NULL DEFAULT NULL,
		  `qyDdztId` int NULL DEFAULT NULL,
		  `yjzt` int NULL DEFAULT NULL,
		  `ejzt` int NULL DEFAULT NULL,
		  `sjsfzh` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `sjxm` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `cph` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `yjbfh` int NULL DEFAULT NULL,
		  `ejbfh` int NULL DEFAULT NULL,
		  `lxlx` int NULL DEFAULT NULL,
		  `yzxzl` float(10, 2) NULL DEFAULT NULL,
		  `sjzl` float(10, 2) NULL DEFAULT NULL,
		  `zlceb` float(10, 4) NULL DEFAULT NULL,
		  `yfwWzlxId` int NULL DEFAULT NULL,
		  `qyWzlxId` int NULL DEFAULT NULL,
		  `yfwWzId` int NULL DEFAULT NULL,
		  `qyWzId` int NULL DEFAULT NULL,
		  `yfwYssId` int NULL DEFAULT NULL,
		  `qyYssId` int NULL DEFAULT NULL,
		  `yfwFhdwId` int NULL DEFAULT NULL,
		  `qyFhdwId` int NULL DEFAULT NULL,
		  `yfwShbmId` int NULL DEFAULT NULL,
		  `qyShbmId` int NULL DEFAULT NULL,
		  `bjsj` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `qytb` int NULL DEFAULT 1,
		  PRIMARY KEY (`id`) USING BTREE
		) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
	</update>
	<insert id="add" parameterType="com.znczXcx.entity.DingDan">
		insert into `ding_dan_${qyh}`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qyjlId!=null">
				qyjlId,
			</if>
			<if test="ddh!=null">
				ddh,
			</if>
			<if test="yfwDdztId!=null">
				yfwDdztId,
			</if>
			<if test="qyDdztId!=null">
				qyDdztId,
			</if>
				yjzt,
				ejzt,
			<if test="sjsfzh!=null">
				sjsfzh,
			</if>
			<if test="sjxm!=null">
				sjxm,
			</if>
			<if test="cph!=null">
				cph,
			</if>
			<if test="lxlx!=null">
				lxlx,
			</if>
			<if test="yzxzl!=null">
				yzxzl,
			</if>
			<if test="sjzl!=null">
				sjzl,
			</if>
			<if test="zlceb!=null">
				zlceb,
			</if>
			<if test="yfwWzlxId!=null">
				yfwWzlxId,
			</if>
			<if test="qyWzlxId!=null">
				qyWzlxId,
			</if>
			<if test="yfwWzId!=null">
				yfwWzId,
			</if>
			<if test="qyWzId!=null">
				qyWzId,
			</if>
			<if test="yfwYssId!=null">
				yfwYssId,
			</if>
			<if test="qyYssId!=null">
				qyYssId,
			</if>
			<if test="yfwFhdwId!=null">
				yfwFhdwId,
			</if>
			<if test="qyFhdwId!=null">
				qyFhdwId,
			</if>
			<if test="yfwShbmId!=null">
				yfwShbmId,
			</if>
			<if test="qyShbmId!=null">
				qyShbmId,
			</if>
				bjsj,
			<if test="ewmlj!=null">
				ewmlj,
			</if>
			<if test="qytb!=null">
				qytb,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qyjlId!=null">
				#{qyjlId},
			</if>
			<if test="ddh!=null">
				#{ddh},
			</if>
			<if test="yfwDdztId!=null">
				#{yfwDdztId},
			</if>
			<if test="qyDdztId!=null">
				#{qyDdztId},
			</if>
				1,
				1,
			<if test="sjsfzh!=null">
				#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				#{sjxm},
			</if>
			<if test="cph!=null">
				#{cph},
			</if>
			<if test="lxlx!=null">
				#{lxlx},
			</if>
			<if test="yzxzl!=null">
				#{yzxzl},
			</if>
			<if test="sjzl!=null">
				#{sjzl},
			</if>
			<if test="zlceb!=null">
				#{zlceb},
			</if>
			<if test="yfwWzlxId!=null">
				#{yfwWzlxId},
			</if>
			<if test="qyWzlxId!=null">
				#{qyWzlxId},
			</if>
			<if test="yfwWzId!=null">
				#{yfwWzId},
			</if>
			<if test="qyWzId!=null">
				#{qyWzId},
			</if>
			<if test="yfwYssId!=null">
				#{yfwYssId},
			</if>
			<if test="qyYssId!=null">
				#{qyYssId},
			</if>
			<if test="yfwFhdwId!=null">
				#{yfwFhdwId},
			</if>
			<if test="qyFhdwId!=null">
				#{qyFhdwId},
			</if>
			<if test="yfwShbmId!=null">
				#{yfwShbmId},
			</if>
			<if test="qyShbmId!=null">
				#{qyShbmId},
			</if>
				now(),
			<if test="ewmlj!=null">
				#{ewmlj},
			</if>
			<if test="qytb!=null">
				#{qytb},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczXcx.entity.DingDan">
		update `ding_dan_${qyh}` set
		<trim suffixOverrides=",">
			<if test="yfwDdztId!=null">
				yfwDdztId=#{yfwDdztId},
			</if>
			<if test="qyDdztId!=null">
				qyDdztId=#{qyDdztId},
			</if>
			<if test="yjzt!=null">
				yjzt=#{yjzt},
			</if>
			<if test="ejzt!=null">
				ejzt=#{ejzt},
			</if>
			<if test="sjsfzh!=null">
				sjsfzh=#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				sjxm=#{sjxm},
			</if>
			<if test="cph!=null">
				cph=#{cph},
			</if>
			<if test="yjbfh!=null">
				yjbfh=#{yjbfh},
			</if>
			<if test="ejbfh!=null">
				ejbfh=#{ejbfh},
			</if>
			<if test="lxlx!=null">
				lxlx=#{lxlx},
			</if>
			<if test="yzxzl!=null">
				yzxzl=#{yzxzl},
			</if>
			<if test="sjzl!=null">
				sjzl=#{sjzl},
			</if>
			<if test="zlceb!=null">
				zlceb=#{zlceb},
			</if>
			<if test="yfwWzlxId!=null">
				yfwWzlxId=#{yfwWzlxId},
			</if>
			<if test="qyWzlxId!=null">
				qyWzlxId=#{qyWzlxId},
			</if>
			<if test="yfwWzId!=null">
				yfwWzId=#{yfwWzId},
			</if>
			<if test="qyWzId!=null">
				qyWzId=#{qyWzId},
			</if>
			<if test="yfwYssId!=null">
				yfwYssId=#{yfwYssId},
			</if>
			<if test="qyYssId!=null">
				qyYssId=#{qyYssId},
			</if>
			<if test="yfwFhdwId!=null">
				yfwFhdwId=#{yfwFhdwId},
			</if>
			<if test="qyFhdwId!=null">
				qyFhdwId=#{qyFhdwId},
			</if>
			<if test="yfwShbmId!=null">
				yfwShbmId=#{yfwShbmId},
			</if>
			<if test="qyShbmId!=null">
				qyShbmId=#{qyShbmId},
			</if>
			<if test="bjsj!=null">
				bjsj=#{bjsj},
			</if>
			<if test="qytb!=null">
				qytb=#{qytb},
			</if>
		</trim>
		where qyjlId=#{qyjlId}
	</update>
	<select id="getCountByQyjlId" resultType="java.lang.Integer">
		select count(*) from `ding_dan_${qyh}` where qyjlId=#{qyjlId}
	</select>
	<select id="selectByDdh" resultType="com.znczXcx.entity.DingDan">
		select dd.*,ddzt.mc ddztMc,wzlx.mc wzlxMc,wz.mc wzMc,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from `ding_dan_${qyh}` dd left join `ding_dan_zhuang_tai_${qyh}` ddzt on dd.yfwDdztId=ddzt.id left join `wu_zi_lei_xing_${qyh}` wzlx on dd.yfwWzlxId=wzlx.id left join `wu_zi_${qyh}` wz on dd.yfwWzId=wz.id
		 left join `yun_shu_shang_${qyh}` yss on dd.yfwYssId=yss.id left join `fa_huo_dan_wei_${qyh}` fhdw on dd.yfwFhdwId=fhdw.id
		 left join `shou_huo_bu_men_${qyh}` shbm on dd.yfwShbmId=shbm.id where dd.ddh=#{ddh}
	</select>
</mapper>