<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczXcx.dao.ZhiJianJiLuMapper">
	<update id="createTabByQyh">
		CREATE TABLE zhi_jian_ji_lu_${qyh}  (
		  `id` int NOT NULL AUTO_INCREMENT,
		  `qyjlId` int NULL DEFAULT NULL,
		  `ddId` int NULL DEFAULT NULL,
		  `zjyId` int NULL DEFAULT NULL,
		  `zjsj` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `jg` smallint NULL DEFAULT NULL,
		  `bz` varchar(300) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
		  `qytb` int NULL DEFAULT 1,
		  PRIMARY KEY (`id`) USING BTREE
		) ENGINE = InnoDB CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
	</update>
	<insert id="add" parameterType="com.znczXcx.entity.ZhiJianJiLu">
		insert into zhi_jian_ji_lu_${qyh}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qyjlId!=null">
				qyjlId,
			</if>
			<if test="yfwDdId!=null">
				yfwDdId,
			</if>
			<if test="qyDdId!=null">
				qyDdId,
			</if>
			<if test="yfwZjyId!=null">
				yfwZjyId,
			</if>
			<if test="qyZjyId!=null">
				qyZjyId,
			</if>
				zjsj,
			<if test="jg!=null">
				jg,
			</if>
			<if test="bz!=null">
				bz,
			</if>
				qytb
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qyjlId!=null">
				#{qyjlId},
			</if>
			<if test="yfwDdId!=null">
				#{yfwDdId},
			</if>
			<if test="qyDdId!=null">
				#{qyDdId},
			</if>
			<if test="yfwZjyId!=null">
				#{yfwZjyId},
			</if>
			<if test="qyZjyId!=null">
				#{qyZjyId},
			</if>
				now(),
			<if test="jg!=null">
				#{jg},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
				1
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczXcx.entity.ZhiJianJiLu">
		update `zhi_jian_ji_lu_${qyh}` set
		<trim suffixOverrides=",">
			<if test="yfwZjyId!=null">
				yfwZjyId=#{yfwZjyId},
			</if>
			<if test="qyZjyId!=null">
				qyZjyId=#{qyZjyId},
			</if>
			<if test="zjsj!=null">
				zjsj=#{zjsj},
			</if>
			<if test="jg!=null">
				jg=#{jg},
			</if>
			<if test="bz!=null">
				bz=#{bz},
			</if>
			<if test="qytb!=null">
				qytb=#{qytb},
			</if>
		</trim>
		where qyjlId=#{qyjlId}
	</update>
	<select id="getTbZtCount" resultType="java.lang.Integer">
		select count(*) from zhi_jian_ji_lu_${qyh} where qytb=#{qytb}
	</select>
	<select id="selectListByQytb" resultType="com.znczXcx.entity.ZhiJianJiLu">
		select * from zhi_jian_ji_lu_${qyh} where qytb=#{qytb}
	</select>
	<update id="updateTbZtByQytb">
		update zhi_jian_ji_lu_${qyh} set qytb=#{xtbzt} where qytb=#{qytb}
	</update>
	<select id="getWtbToYfCount" resultType="java.lang.Integer">
		select count(*) from `zhi_jian_ji_lu_${qyh}` where qytb=${@com.znczXcx.entity.Main@WEI_TONG_BU}
	</select>
	<select id="getCountByQyjlId" resultType="java.lang.Integer">
		select count(*) from `zhi_jian_ji_lu_${qyh}` where qyjlId=#{qyjlId}
	</select>
	<select id="queryList" resultType="com.znczXcx.entity.ZhiJianJiLu">
		select zjjl.id,zjjl.jg,zjjl.zjsj,dd.ddh,zjy.zsxm zjyZsxm,ddzt.mc ddztMc from `zhi_jian_ji_lu_${qyh}` zjjl,`yong_hu_${qyh}` zjy,`ding_dan_${qyh}` dd,`ding_dan_zhuang_tai_${qyh}` ddzt where zjjl.yfwZjyId=zjy.id and zjjl.yfwDdId=dd.id and dd.yfwDdztId=ddzt.id
		<if test="jg!=''&amp;jg!=null">
			and zjjl.jg=#{jg}
		</if> 
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if> 
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.yfwDdztId=#{ddztId}
		</if> 
		<if test="zjyZsxm!=''&amp;zjyZsxm!=null">
			and zjy.zsxm like CONCAT('%',#{zjyZsxm},'%')
		</if> 
	</select>
</mapper>